<div class="error text-center" *ngIf="recipesDataError">There appears to be something wrong with providing
  recipes data. Please refresh or try again later. </div>

<div class="heading text-center">
  <h1>Find a recipe!</h1>

  <p>Few suggestions for ingredients:
    <span *ngFor="let ingredient of commonIngredients">
      <span class="badge" (click)="addIngredient(ingredient)">{{ ingredient }}</span>
    </span>
  </p>

  <p>Few suggestions for courses:
    <span *ngFor="let course of commoCourses">
      <span class="badge" (click)="addCourse(course)">{{ course }}</span>
    </span>
  </p>
</div>

<app-recipes></app-recipes>
